<!-- assists data -->
<table id="assists-table" class="table table-striped table-bordered table-hover table-responsive table-condensed assists-data col-xs-12">
  <tr>
    <th class="content-cell content-header col-xs-3" data-id={{id}}>ID</th>
    <th class="content-cell content-header col-xs-3" data-id={{id}}>Player Surname</th>
    <th class="content-cell content-header col-xs-3" data-id={{id}}>Player First Name</th>
    <th class="content-cell content-header col-xs-2" data-id={{id}}>Game ID</th>
    <th class="content-cell content-header col-xs-1" data-id={{id}}>Delete</th>
  </tr>
  {{#each assists}}
    <tr>
      <td class="standings-cell standings-row col-xs-3" data-id={{id}}>{{id}}</td>
      <td class="standings-cell standings-row col-xs-3" data-id={{id}}>{{player.surname}}</td>
      <td class="standings-cell standings-row col-xs-3" data-id={{id}}>{{player.given_name}}</td>
      <td class="standings-cell standings-row col-xs-2" data-id={{id}}>{{game.id}}</td>
      <td class="standings-cell standings-row col-xs-1">
        <button class="btn btn-default assist-delete-button admin-only" data-id={{id}}>Delete</button>
      </td>
    </tr>
  {{/each}}
</table>
