<div class="standings-cell standings-row col-xs-1">{{id}}</div>
<div class="standings-cell standings-row col-xs-1">{{game_id}}</div>
<div class="standings-cell standings-row col-xs-3">{{game.team.name}}</div>
<div class="standings-cell standings-row col-xs-2">{{game.date}}</div>
<div class="standings-cell team-name standings-row col-xs-3">{{game.opponent}}</div>
<div class="standings-cell standings-row col-xs-1">{{game.won}}</div>
<div class="standings-cell standings-row col-xs-1">
  <button class="btn btn-default game-delete-button" data-id={{id}}>Delete</button>
</div>
