<div class="standings-cell standings-row col-xs-1">{{id}}</div>
<div class="standings-cell standings-row col-xs-1">{{team.id}}</div>
<div class="standings-cell standings-row col-xs-3">{{date}}</div>
<div class="standings-cell team-name standings-row col-xs-4">{{opponent}}</div>
<div class="standings-cell standings-row col-xs-3">{{won}}</div>
