<!--  goals -->
<div class="standings-cell standings-row col-xs-3" data-id={{id}}>{{id}}</div>
<div class="standings-cell standings-row col-xs-3" data-id={{id}}>{{player.surname}}</div>
<div class="standings-cell standings-row col-xs-3" data-id={{id}}>{{player.given_name}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{game.id}}</div>
<div class="standings-cell standings-row col-xs-1">
  <button class="btn btn-default goal-delete-button" data-id={{id}}>Delete</button>
</div>
