<div class="standings-cell standings-row col-xs-2">{{surname}}</div>
<div class="standings-cell standings-row col-xs-2">{{given_name}}</div>
<div class="standings-cell standings-row col-xs-2">{{email}}</div>
<div class="standings-cell standings-row col-xs-2">{{phone_number}}</div>
<div class="standings-cell standings-row col-xs-2">{{captain}}</div>
<div class="standings-cell standings-row col-xs-2">{{team_id}}</div>
