<div class="standings-cell person-name standings-row col-xs-2">{{surname}}</div>
<div class="standings-cell person-name standings-row col-xs-2">{{given_name}}</div>
<div class="standings-cell person-name standings-row col-xs-3">{{email}}</div>
<div class="standings-cell person-name standings-row col-xs-3">{{phone_number}}</div>
<div class="standings-cell person-name standings-row col-xs-1">{{captain}}</div>
<div class="standings-cell standings-row col-xs-1">{{team_id}}</div>
