<div class="standings-cell person-name standings-row col-xs-1">{{rank}}</div>
<div class="standings-cell person-name standings-row col-xs-2">{{surname}}</div>
<div class="standings-cell person-name standings-row col-xs-2">{{given_name}}</div>
<div class="standings-cell person-name standings-row col-xs-1">{{gameCount}}</div>
<div class="standings-cell person-name standings-row col-xs-1">{{goalCount}}</div>
<div class="standings-cell person-name standings-row col-xs-1">{{assistCount}}</div>
<div class="standings-cell person-name standings-row col-xs-1">{{pointCount}}</div>
<div class="standings-cell person-name standings-row col-xs-1">{{GPG}}</div>
<div class="standings-cell person-name standings-row col-xs-1">{{APG}}</div>
<div class="standings-cell person-name standings-row col-xs-1">{{PPG}}</div>
