<!--  team standings -->
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{id}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{name}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{winCount}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{lossCount}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{gameCount}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{winPct}}</div>
