<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>
