<!--  team standings -->
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{name}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{name}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{name}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{name}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{games.length}}</div>
<div class="standings-cell standings-row col-xs-2" data-id={{id}}>{{name}}</div>
