<!--  team standings -->

<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>
<div class="standings-cell standings-row col-xs-2">{{games.length}}</div>
<div class="standings-cell standings-row col-xs-2">{{name}}</div>

<!-- helper scripts -->
<script></script>
